---
import ArticleHeader from "@components/ArticleHeader.astro";
import Layout from "@layouts/Page.astro";
import { siteConfig } from "src/data/settings";
import type { PostFrontmatter } from "src/lib/api";

export interface Props {
  file: string;
  url: string;
  content: PostFrontmatter;
  frontmatter: PostFrontmatter;
  headings: { depth: string; slug: string; text: string }[];
  rawContent: Function;
}

const { content, rawContent } = Astro.props as Props;

const pageConfig = {
  title: `${content.title} – ${siteConfig.title}`,
  description: content.description,
  image: content.heroImage
};
---

<Layout pageConfig={pageConfig}>
  <div class="max-w-6xl mx-auto">
    <article class="">
      <ArticleHeader content={content} rawContent={rawContent} />
      <main class="mx-auto prose prose-xl prose-invert hover:prose-a:text-orange-500 tracking-wide mb-32 ">
        <slot />
      </main>
    </article>
  </div>
</Layout>
